html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Arial", sans-serif; /*Lato*/
  color: #777;
  background-color: #1a1919;
  text-align: center;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/bg1.jpg");
  min-height: 90%;
}

.bgimg-2 {
  background-image: url("../img/woods.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/weight.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption div.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

.tileContainer {
  border: 10px solid black;
  display: inline-block;
  position: relative;
  width: 22%;
  height: 768px;
  overflow: hidden;
  box-sizing: border-box;
  object-fit: cover;
}

.tile {
  position: relative;
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.tile:after {
  content: "";
  background-color: #cc1c32;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 100%;
  right: 0px;
  transform: translate(50%, -50%);
  z-index: 2;
  line-height: 1;
}

/*-- no grid --*/

.noGrid .tile {
  border-right: 0px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.noGrid .tile:after {
  content: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar span {
  float: left;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(0, 153, 255);
}

footer {
  position: relative;
  height: 120px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 153, 255);
  color: white;
  text-align: left;
}

footer a {
  font-size: 16px;
  color: white;
  text-align: left;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
}

footer a i {
  font-size: 30px;
}
footer div {
  vertical-align: top;
  display: inline-block;
  padding-top:20px;
  padding-left: 5%;
  width: 33%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
}
#about div {
  vertical-align: top;
  display: inline-block;
  padding-top: 0px;
  padding-left: 5%;
  width: 33%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
}
#scrTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 119, 255);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#scrTopBtn:hover {
  background-color: rgb(104, 222, 226);
}
